/* styles.css */

html,
body {
  font-family: 'Luckiest Guy', cursive;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  align-items: center;
  padding: 20px;
  justify-content: space-between;
  background-color: #0051d3;
  color: white;
  position: sticky;
  top: 0;
  z-index: 10;
}

header nav ul {
  display: flex;
  gap: 20px;
}

header nav ul li {
  list-style: none;
  margin: 15px;
}

header nav ul li a {
  color: white;
  text-decoration: none;
  transition: color 0.5s ease;
}

header nav ul li a:hover {
  color: rgb(231, 62, 62);
}

.logo {
  width: 120px;
  height: 120px;
  margin-bottom: -82px;
  margin-left: 25px;
  background-image: url('/assets/fornite-logo-white.png');
  background-size: contain;
  background-repeat: no-repeat;
}

#items-count {
  color: rgb(255, 232, 132);
}

main {
  flex: 1 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  align-items: flex-start;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 30%;  /* Asegúrate de que sea suficientemente pequeño para que quepan tres en una fila */
  height: 500px;  /* Asegúrate de que sea lo suficientemente alto para que quepan tres en una columna */
  margin: 1%;  /* Un pequeño margen alrededor para espacio entre items */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);  /* Un poco de sombra para que parezca una caja */
  padding: 20px;
  box-sizing: border-box;
  background-color: #f0f0f0;  /* Color inicial de fondo */
  transition: background-color 0.2s ease;  /* Transición suave del color de fondo */
  cursor: pointer;  /* Cambia el cursor a un puntero */
}

.item:hover {
  background-color: #aecbe4;  /* Color de fondo al pasar el cursor por encima */
}

/* Asegúrate de que los items se muestren en una cuadrícula con tres en una fila */
#items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  overflow: auto;
  max-height: 100%;
}

#items img {
  width: 100%;
  height: 60%;
  object-fit: contain;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  margin: 10px 0;
  background-color: #f0f0f0; /* Color de fondo de Fortnite */
  color: #1aa7ff; /* Color de texto de Fortnite */
  border: none; /* Sin bordes */
  cursor: pointer; /* Cambia el cursor a un puntero */
  font-family: 'Luckiest Guy', cursive; /* Fuente de Fortnite */
  font-size: 16px; /* Tamaño de fuente a tu elección */
  transition: background-color 0.2s ease;
  vertical-align: middle;
}

button:hover {
  background-color: #036; /* Cambia el color de fondo cuando se pasa el cursor por encima */
}

button:active {
  background-color: #004999; /* Cambia el color de fondo cuando se hace click */
}

button:focus {
  outline: none; /* Elimina el borde predeterminado al hacer foco */
}

footer {
  display: flex;
  flex-direction: column;
  font-size: 0.7em;
  padding: 22px;
  background-color: #303030;
  color: white;
  text-align: center;
  justify-content: center;
  flex-shrink: 0;
  align-items: center;
  font-family: 'Rubik', Arial, Helvetica, sans-serif;
}

#logo1 {
  width: 70px;  /* o el tamaño que prefieras */
  height: 70px;
  background-image: url('/assets/epic-games-logo.png');
  background-size: contain;
  background-repeat: no-repeat;
  align-self: center;
  margin-bottom: 10px; /* Espacio entre el logo y el texto */
  opacity: 0.8; /* Opacidad baja inicial */
  transition: opacity 0.5s ease; /* Transición suave de la opacidad */
}

#logo1:hover {
  opacity: 1; /* Opacidad alta al pasar el cursor por encima */
}

.likes {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
}

.like-btn {
  cursor: pointer;
  color: #f00;
  margin-right: 5px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.4); /* Black with opacity */
  opacity: 0; /* Start fully transparent */
  transition: opacity 0.5s ease; /* Transition effect for the background opacity */
}

.modal.show {
  display: block; /* Show the modal */
  opacity: 1; /* Make it fully opaque */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 45%; /* Could be more or less, depending on screen size */
  height: auto;
  max-width: 600px; /* Set a max width */
  border-radius: 25px; /* Round corners */
  transform: translateY(-50px); /* Move it up a bit */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.modal.show .modal-content {
  animation: drop 0.5s ease-out forwards; /* Apply the drop animation */
}

/* The Close Button */
.close {
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  transition: transform 0.3s, opacity 0.3s; /* Add this */
  position: absolute; /* Add this */
  top: 10px; /* Add this */
  right: 20px; /* Add this */
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
  transform: rotate(180deg); /* Add this */
  opacity: 0.6; /* Add this */
}

/* Define the drop animation */
@keyframes drop {
  0% { transform: translateY(-50px); }
  100% { transform: translateY(0); }
}

/* Center form content */
#comment-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

textarea {
  resize: none;
  width: 100%;
  height: 100px;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #5ca0c5;
  font-family: 'Roboto', sans-serif;
}

#comment-form label {
  margin-top: 25px; /* Ajusta este valor según tu necesidad */
}

.modal-image {
  width: 30%;     /* o puedes usar un valor en px, por ejemplo: width: 200px; */
  height: auto;    /* esto mantendrá la relación de aspecto de la imagen */
}

#comments {
  /* Usa estas propiedades para posicionar los comentarios */
  position: absolute;
  top: 10px;
  left: 10px;
  width: 25%;
  height: 150px;
  overflow-y: scroll;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
}

#comments::-webkit-scrollbar {
  width: 10px;
}

#comments::-webkit-scrollbar-track {
  background: #f1f1f1;
}

#comments::-webkit-scrollbar-thumb {
  background: #888;
}

#comments::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.comment {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}

.comment .comment-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.comment .comment-header .comment-author {
  font-weight: bold;
  margin-right: 5px;
}

.comment .comment-header .comment-date {
  font-size: 0.8em;
  color: #666;
}

.comment .comment-body {
  margin-top: 5px;
  margin-left: 10px;
}

.comment .comment-body .comment-text {
  margin-bottom: 5px;
}

.comment .comment-body .comment-likes {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.comment .comment-body .comment-likes .like-btn {
  margin-right: 5px;
}

.comment .comment-body .comment-likes .like-btn:hover {
  color: #f00;
}

.comment .comment-body .comment-likes .like-btn.liked {
  color: #f00;
}

.comment .comment-body .comment-likes .like-btn.liked:hover {
  color: #000;
}

.comment .comment-body .comment-likes .like-btn.unliked {
  color: #000;
}

.comment .comment-body .comment-likes .like-btn.unliked:hover {
  color: #f00;
}

.comment .comment-body .comment-likes .like-btn.unliked:active {
  color: #f00;
}

.comment .comment-body .comment-likes .like-btn.liked:active {
  color: #000;
}

.comment .comment-body .comment-likes .like-btn:focus {
  outline: none;
}

.comment .comment-body .comment-likes .like-btn:active {
  transform: scale(0.9);
}

input {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  margin: 10px 0;
  background-color: #f0f0f0; /* Color de fondo de Fortnite */
  color: #1aa7ff; /* Color de texto de Fortnite */
  border: none; /* Sin bordes */
  cursor: pointer; /* Cambia el cursor a un puntero */
  font-family: 'Luckiest Guy', cursive; /* Fuente de Fortnite */
  font-size: 16px; /* Tamaño de fuente a tu elección */
  transition: background-color 0.2s ease;
  vertical-align: middle;
}

input:hover {
  background-color: #036; /* Cambia el color de fondo cuando se pasa el cursor por encima */
}

input:active {
  background-color: #004999; /* Cambia el color de fondo cuando se hace click */
}

input:focus {
  outline: none; /* Elimina el borde predeterminado al hacer foco */
}

#most-wanted-items {
  display: inline-grid;
  grid-template-columns: repeat(auto-fit, minmax(2000px, 1fr));
  gap: 20px; /* Espacio entre los elementos */
  padding: 20px;
  margin: 0 auto; /* Centra el contenedor */
  max-width: 90%; /* anchura máxima del contenedor */
  justify-content: space-around;
  justify-items: center;
  transition: transform 0.2s ease;
}

.most-wanted-items:hover {
  transform: scale(1.1);
}

#most-wanted-items .item img {
  width: 60%; /* ajusta este porcentaje según tus necesidades */
  height: auto; /* mantener el aspecto */
  object-fit: contain;
}

#most-wanted-items .item p {
  font-size: 1.5em;  /* ajusta este valor según tus necesidades */
}

/* ---------------------MEDIA QUERYS-------------------------- */

/* Para móvil */
@media (max-width: 480px) {
  #menu-btn {
    display: block;  /* se muestra en móvil */
    position: absolute;
    top: 10px;
    right: 20px;
    background: transparent;
    border: none;
    font-size: 30px;
    color: white;
  }

  #nav.closed {
    display: none;  /* inicialmente oculto en móvil */
  }

  #nav.open {
    display: block;  /* se muestra cuando el menú está abierto */
    position: absolute;  /* absolutamente posicionado */
    top: 60px;  /* en la parte superior de la pantalla */
    right: 0;  /* a la derecha de la pantalla */
    width: 100%;  /* anchura de tu elección */
    height: 40%;  /* altura total de la pantalla */
    background-color: #0051d3;  /* color de fondo de tu elección */
    overflow: auto;  /* desplazamiento si es necesario */
    font-size: 10px;
  }

  #nav.open a {
    padding: 2px 5px;
    display: flex;
    margin-top: -10px;
  }

  .item {
    width: 90%;  /* Ajusta el ancho de los items */
    height: auto;  /* Altura automática para ajustarse al contenido */
  }

  #most-wanted-items {
    width: 10%;  /* Ajusta el ancho de los items */
    height: auto;
  }

  .modal-content {
    width: 90%;  /* Ajusta el ancho de la ventana modal */
    margin: 25% auto;
  }

  #most-wanted-items .item img {
    width: 10%; /* ajusta este porcentaje según tus necesidades */
    height: auto; /* mantener el aspecto */
  }

  textarea {
    width: 90%;  /* Ajusta el ancho del textarea */
    margin: 10px 0;
  }
}

@media (min-width: 481px) {
  #menu-btn {
    display: none;  /* se esconde en escritorio */
  }

  #nav {
    display: block;  /* se muestra en escritorio */
  }
}
